################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project_1_OS/FileContentIndex/3f140c7c-e556-453d-917c-a30b750ab033.vsidx
